<div class="field">
  <div class="heading">
    <label>Pixel ID</label>
  </div>

  <div class="input ltr">
    <input class="text code fullwidth" type="text" name="pixelId" value="{{ settings.pixelId }}">
  </div>
</div>
